.container {
  background-color: var(--env-block-background-color);
  border: 1px solid var(--env-block-border-color);
}

.text {
  font-family: var(--env-font-family);
  color: var(--env-block-font-color);
}
